.password:focus + .validationBox{
   display: inline-block;
}
.validationBox:hover{ 
    display: inline-block;
}    

.confirmPassword:focus + .validationBox{
   display: inline-block;
}
.validationBox{
    position: absolute;
    background: #15191d;
    width:350px;
    padding: 10px 20px;
    box-shadow: 7px 7px 10px 10px #0f1416;
    margin: 5px 5px;
    z-index: 3;
    display: none;
}

.p{
    align-items:left;
}

ul {
  list-style: none;
    text-align: left;
    padding: 0px 10px; 
}

.invalid {
  transition: all .1s ease-in;
}
.invalid:before {
  content: "\274C";
  padding-right: 15px;
}

.valid {
  color: #3CBC3C;
  transition: all .2s ease-in;
  animation-name: grow;
  animation-duration: .2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.valid strong{
    text-shadow: 0px 5px 5px rgba(0,0,0,0.1),
    5px 10px 5px rgba(0,0,0,0.05),
    -5px 10px 5px rgba(0,0,0,0.05);
}

.valid::before {
  content: "\2713 ";
}

/* button{
    margin-top: 5px;
} */

#custom-tooltip {
    display: none;
    margin-bottom: 20px;
}

