* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: #14181c;
  color: #fff;
}

.main_container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  background: #15191d;
}

.flex_container {
  position: relative;
  display: flex;
  align-items: top;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  align-content: top;
  gap: 2em;
  margin-bottom: 20px;
}

.info_card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.info_table {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.attendance_table {
}

.table tr th {
  color: #ecf0f1;
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
}

/* Table Data */
.table tr td {
  overflow: auto;
  text-align: center;
  color: #ecf0f1;
}
